In [15]:
import pandas as pd
pd.options.display.max_columns = None
pd.options.display.max_rows = None

file_path = 'data/tgv_data.csv'

df = pd.read_csv(file_path, sep=';')
df.head()

,date,service,gare_depart,gare_arrivee,duree_moyenne,nb_train_prevu,nb_annulation,commentaire_annulation,nb_train_depart_retard,retard_moyen_depart,retard_moyen_tous_trains_depart,commentaire_retards_depart,nb_train_retard_arrivee,retard_moyen_arrivee,retard_moyen_tous_trains_arrivee,commentaires_retard_arrivee,nb_train_retard_sup_15,retard_moyen_trains_retard_sup15,nb_train_retard_sup_30,nb_train_retard_sup_60,prct_cause_externe,prct_cause_infra,prct_cause_gestion_trafic,prct_cause_materiel_roulant,prct_cause_gestion_gare,prct_cause_prise_en_charge_voyageurs
0,2018-01,National,BORDEAUX ST JEAN,PARIS MONTPARNASSE,141,870,5,NaN,289,11.247809,3.693179,NaN,147,28.436735,6.511118,NaN,110,6.511118,44,8,36.134454,31.092437,10.924370,15.966387,5.042017,0.840336
1,2018-01,National,LA ROCHELLE VILLE,PARIS MONTPARNASSE,165,222,0,NaN,8,2.875000,0.095796,NaN,34,21.524020,5.696096,NaN,22,5.696096,5,0,15.384615,30.769231,38.461538,11.538462,3.846154,0.000000
2,2018-01,National,PARIS MONTPARNASSE,QUIMPER,220,248,1,NaN,37,9.501351,1.003981,NaN,26,55.692308,7.578947,"Ce mois-ci, l'OD a été touchée par les inciden...",26,7.548387,17,7,26.923077,38.461538,15.384615,19.230769,0.000000,0.000000
3,2018-01,National,PARIS MONTPARNASSE,ST MALO,156,102,0,NaN,12,19.912500,1.966667,NaN,13,48.623077,6.790686,"Ce mois-ci, l'OD a été touchée par les inciden...",8,6.724757,6,4,23.076923,46.153846,7.692308,15.384615,7.692308,0.000000
4,2018-01,National,PARIS MONTPARNASSE,ST PIERRE DES CORPS,61,391,2,NaN,61,7.796995,0.886889,NaN,71,12.405164,3.346487,NaN,17,3.346487,6,0,21.212121,42.424242,9.090909,21.212121,6.060606,0.000000

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8154 entries, 0 to 8153
Data columns (total 26 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   date                                  8154 non-null   object
 1   service                               8154 non-null   object
 2   gare_depart                           8154 non-null   object
 3   gare_arrivee                          8154 non-null   object
 4   duree_moyenne                         8154 non-null   int64
 5   nb_train_prevu                        8154 non-null   int64
 6   nb_annulation                         8154 non-null   int64
 7   commentaire_annulation                0 non-null      float64
 8   nb_train_depart_retard                8154 non-null   int64
 9   retard_moyen_depart                   8154 non-null   float64
 10  retard_moyen_tous_trains_depart       8154 non-null   float64
 11  commentaire_retards_depart            0 non-null      float64
 12  nb_train_retard_arrivee               8154 non-null   int64
 13  retard_moyen_arrivee                  8154 non-null   float64
 14  retard_moyen_tous_trains_arrivee      8154 non-null   float64
 15  commentaires_retard_arrivee           698 non-null    object
 16  nb_train_retard_sup_15                8154 non-null   int64
 17  retard_moyen_trains_retard_sup15      8154 non-null   float64
 18  nb_train_retard_sup_30                8154 non-null   int64
 19  nb_train_retard_sup_60                8154 non-null   int64
 20  prct_cause_externe                    8154 non-null   float64
 21  prct_cause_infra                      8154 non-null   float64
 22  prct_cause_gestion_trafic             8154 non-null   float64
 23  prct_cause_materiel_roulant           8154 non-null   float64
 24  prct_cause_gestion_gare               8154 non-null   float64
 25  prct_cause_prise_en_charge_voyageurs  8154 non-null   float64
dtypes: float64(13), int64(8), object(5)
memory usage: 1.6+ MB

In [17]:
# Supprimer les colonnes vides ou partiellement remplies
df = df.drop(columns=['commentaire_annulation', 'commentaire_retards_depart', 'commentaires_retard_arrivee'])

In [18]:
df.describe()

,duree_moyenne,nb_train_prevu,nb_annulation,nb_train_depart_retard,retard_moyen_depart,retard_moyen_tous_trains_depart,nb_train_retard_arrivee,retard_moyen_arrivee,retard_moyen_tous_trains_arrivee,nb_train_retard_sup_15,retard_moyen_trains_retard_sup15,nb_train_retard_sup_30,nb_train_retard_sup_60,prct_cause_externe,prct_cause_infra,prct_cause_gestion_trafic,prct_cause_materiel_roulant,prct_cause_gestion_gare,prct_cause_prise_en_charge_voyageurs
count,8154.000000,8154.000000,8154.000000,8154.000000,8154.000000,8154.000000,8154.000000,8154.000000,8154.000000,8154.000000,8154.000000,8154.000000,8154.000000,8154.000000,8154.000000,8154.000000,8154.000000,8154.000000,8154.000000
mean,169.860314,257.198308,11.349644,88.434265,11.205745,3.076737,34.516066,33.950971,5.668612,24.434511,32.193823,11.642016,4.245892,23.266846,21.888418,19.052124,18.995179,6.714513,7.127315
std,87.390774,173.815703,26.544553,90.384803,12.476780,5.432676,29.729349,15.702663,7.971691,21.400761,20.195926,11.225104,4.901032,16.805192,15.692521,14.947548,14.256533,8.080759,10.249453
min,0.000000,0.000000,0.000000,0.000000,0.000000,-229.269444,0.000000,-40.109259,-472.638889,0.000000,-4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,100.000000,142.000000,0.000000,22.000000,5.128410,1.140258,13.000000,24.636941,3.129384,9.000000,12.140350,4.000000,1.000000,11.764706,11.538462,8.695652,9.523810,0.000000,0.000000
50%,164.000000,221.000000,3.000000,55.000000,9.036447,2.248271,27.000000,32.441236,4.962422,19.000000,34.932765,9.000000,3.000000,20.967742,20.000000,16.949153,17.165179,5.000000,3.703704
75%,221.000000,333.000000,10.000000,129.000000,14.219375,3.903651,47.000000,41.346717,7.673542,33.000000,44.268749,16.000000,6.000000,32.307692,30.000000,26.923077,26.086957,10.000000,10.000000
max,786.000000,1075.000000,297.000000,596.000000,316.188095,84.516667,376.000000,299.600000,92.000000,312.000000,299.600000,202.000000,71.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000

In [14]:
# Sauvegarder le DataFrame prétraité dans un fichier CSV
df.to_csv("data/preprocessed_tgv_data.csv", index=False)